$header-icon-width: 50px;
$header-icon-height: 50px;
* {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  background: #f8f8f8;
  height: 50px;
  width: 100vw;

  .iconbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }

  .icons {
    height: $header-icon-height;
    width: $header-icon-width;
    padding: 10px;

    .search {
      background-color: gray;
    }
    .number {
      background-color: #f75656;
    }
  }
}

.logo {
  padding-right: 40px;
  margin-top: 50px;
}

.cake {
  width: 102.078px;
  height: auto;
  position: absolute;
  top: -60px;
}

footer {
  display: flex;
  flex-direction: column;

  .general {
    background-color: #e8e6e5;
    color: #67625f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

    .row {
      display: flex;
      flex-direction: row;

      .group {
        padding: 40px 0;
        width: 50%;
        text-align: center;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        .truck {
          background: url(./resources/sprite.svg) 0 -38px no-repeat;
          width: 85px;
          height: 60px;
          margin-bottom: 25px;
        }
        .clock {
          background: url(./resources/sprite.svg) -90px -38px no-repeat
            transparent;
          width: 55px;
          height: 60px;
          margin-bottom: 25px;
        }
        .envelope {
          background: url(./resources/sprite.svg) -150px -36px no-repeat;
          width: 68px;
          height: 60px;
          margin-bottom: 25px;
        }
        .credit-card {
          background: url(./resources/sprite.svg) -223px -38px no-repeat;
          width: 77px;
          height: 60px;
          margin-bottom: 25px;
        }
      }

      .title {
        line-height: 18px;
        font-size: 15px;
        margin: 0;
        padding: 0;
        font-weight: 600;
      }
      .text {
        line-height: 18px;
        font-size: 12px;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.parties {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  width: 100vw;
  padding: 100px;
  margin-top: 150px;
  padding-bottom: 0;
}

.line {
  width: 218px;
  height: 2px;
  background-color: #2e2925;
}

.parties-title {
  font-family: sans-serif;
  font-size: 22px;
  letter-spacing: 6px;
  color: #2e2925;
  font-weight: 900;
}

.picture1 {
  display: flex;
  position: relative;
  width: 325px;
  height: 204.281px;
  margin-top: 50px;
  margin-right: 20px;
}

.picture2 {
  display: flex;
  position: relative;
  width: 325px;
  height: 204.281px;
  margin-top: 10px;
  margin-right: 20px;
}

.picture3 {
  display: flex;
  position: relative;
  width: 325px;
  height: 204.281px;
  margin-top: 10px;
  margin-right: 20px;
}

.picture-opacity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  height: 100px;
  position: absolute;
  align-self: flex-end;
  background-color: rgba($color: #ffffff, $alpha: 0.5);
}

.picture-info {
  font-size: 18px;

  color: #67635f;

  font-family: "Source Sans Pro", sans-serif;

  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  opacity: 5;
  font-weight: bold;
}

.see-more {
  width: 152px;
  height: 50px;
  margin: 0 auto;
  font-size: 18px;

  font-family: "Source Sans Pro", sans-serif;

  color: white;
  background: #ff5959;
  text-align: center;
  margin-top: 50px;
  border: none;
}

.bottom-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 100px;
  padding-bottom: 0;
}

.social-networks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.follow-text {
  font-size: 14px;
  color: #67635f;
  font-weight: 400;
}

.social-networks-row {
  display: flex;
  border: none;
}

.social-networks-facebook {
  background: url(resources/sprite.svg) 0 -494px no-repeat;
  width: 33px;
  height: 32px;
  border: none;
}

.social-networks-twitter {
  background: url(resources/sprite.svg) -35px -494px no-repeat;
  width: 33px;
  height: 32px;
  border: none;
}

.social-networks-instagram {
  background: url(resources/sprite.svg) -70px -494px no-repeat;
  width: 33px;
  height: 32px;
}

.social-networks-pinterest {
  background: url(resources/sprite.svg) -106px -494px no-repeat;
  width: 33px;
  height: 32px;
}

.social-networks-youtube {
  background: url(resources/sprite.svg) -176px -494px no-repeat;
  width: 33px;
  height: 32px;
}

.additional-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
}

.icon-group {
  height: 60px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 9px;
}

.contact-icon {
  width: 30px;
  height: 31px;
  background: url(resources/sprite.svg) 0 -207px no-repeat;
  margin-bottom: 10px;
}

.about-us-icon {
  width: 30px;
  height: 31px;
  background: url(resources/sprite.svg) 0 -246px no-repeat;
  margin-bottom: 10px;
}

.sales-icon {
  width: 30px;
  height: 31px;
  background: url(resources/sprite.svg) 0 -285px no-repeat;
  margin-bottom: 10px;
}

.icon-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #ff5959;
}

.copyright {
  background: #FF5959;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
}


.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-top: 1px solid #bbb8b6;
  border-bottom: 1px solid #bbb8b6;
  padding: 55px 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-title {
  font-size: 14px;
  color: #67635f;
  font-weight: 400;
}

label {
  font-size: 14px;
  color: #67635f;
  font-weight: 400;
}

.email-field {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin-top: 20px;
}

.privacy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.check-box {
  width: 24px;
  height: 24px;
  background: url(resources/sprite.svg) -313px -118px no-repeat;
  margin-right: 10px;
}

.subscription-box {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  font-size: 18px;
  color: white;
  background: #ff5959;
  text-align: center;
  margin-top: 30px;
  border: none;
  font-size: 14px;
  padding: 0;
  font-weight: 700;
  letter-spacing: 0;
}
