$header-icon-width: 50px;
$header-icon-height: 50px;
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  background: #f8f8f8;
  height: 50px;
  width: 100vw;

  .iconbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }

  .icons {
    height: $header-icon-height;
    width: $header-icon-width;
    padding: 10px;

    .search {
      background-color: gray;
    }
    .number {
      background-color: #f75656;
    }
  }
}

.logo {
  padding-right: 40px;
}

.cake {
  width: 102.078px;
  height: auto;
  margin-top: 100px;
}

.footer {
  .general {
    width: 100vw;
    display: flex;
    flex-direction: row;
    .row {
      .tuple {
        width: 100vw;
        display: flex;
        flex-direction: row;
      }
    }
  }
}
