* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8f8f8;
  height: 50px;
  width: 100vw;
}

header .iconbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
}

header .icons {
  height: 50px;
  width: 50px;
  padding: 10px;
}

header .icons .search {
  background-color: gray;
}

header .icons .number {
  background-color: #f75656;
}

.logo {
  padding-right: 40px;
  margin-top: 50px;
}

.cake {
  width: 102.078px;
  height: auto;
  position: absolute;
  top: -60px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .marcas-box {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 125px;
}

footer .marcas-box .marcas-img {
  margin: 50px;
}

footer .general {
  background-color: #e8e6e5;
  color: #67625f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
}

footer .general .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .general .row .group {
  margin: 10px;
  padding: 40px 0;
  width: 50%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .general .row .group .truck {
  background: url(./resources/sprite.svg) 0 -38px no-repeat;
  width: 85px;
  height: 60px;
  margin-bottom: 25px;
}

footer .general .row .group .clock {
  background: url(./resources/sprite.svg) -90px -38px no-repeat transparent;
  width: 55px;
  height: 60px;
  margin-bottom: 25px;
}

footer .general .row .group .envelope {
  background: url(./resources/sprite.svg) -150px -36px no-repeat;
  width: 68px;
  height: 60px;
  margin-bottom: 25px;
}

footer .general .row .group .credit-card {
  background: url(./resources/sprite.svg) -223px -38px no-repeat;
  width: 77px;
  height: 60px;
  margin-bottom: 25px;
}

footer .general .row .title {
  line-height: 18px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  font-weight: 600;
}

footer .general .row .text {
  line-height: 18px;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

@media (min-width: 400px) {
  footer .general {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 800px) {
  footer .marcas-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .general {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .general .row .group {
    margin: 50px;
  }
}

.parties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8f8;
  width: 100vw;
  padding: 100px;
  margin-top: 150px;
  margin-bottom: 125px;
  padding-bottom: 0;
}

.line {
  width: 218px;
  height: 2px;
  background-color: #2e2925;
}

.parties-title {
  font-family: sans-serif;
  font-size: 22px;
  letter-spacing: 6px;
  color: #2e2925;
  font-weight: 900;
}

.picture1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 325px;
  height: 204.281px;
  margin-top: 50px;
  margin-right: 20px;
}

.picture2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 325px;
  height: 204.281px;
  margin-top: 10px;
  margin-right: 20px;
}

.picture3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 325px;
  height: 204.281px;
  margin-top: 10px;
  margin-right: 20px;
}

.picture-opacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 100px;
  position: absolute;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background-color: rgba(255, 255, 255, 0.5);
}

.picture-info {
  font-size: 18px;
  color: #67635f;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;
  opacity: 5;
  font-weight: bold;
}

.see-more {
  width: 152px;
  height: 50px;
  margin: 0 auto;
  font-size: 18px;
  color: white;
  background: #ff5959;
  text-align: center;
  margin-top: 50px;
  border: none;
}

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  padding-top: 75px;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
}

.follow-text {
  font-size: 14px;
  color: #67635f;
  font-weight: 400;
}

.social-networks-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
}

.social-networks-facebook {
  background: url(resources/sprite.svg) 0 -494px no-repeat;
  width: 33px;
  height: 32px;
  border: none;
}

.social-networks-twitter {
  background: url(resources/sprite.svg) -35px -494px no-repeat;
  width: 33px;
  height: 32px;
  border: none;
}

.social-networks-instagram {
  background: url(resources/sprite.svg) -70px -494px no-repeat;
  width: 33px;
  height: 32px;
}

.social-networks-pinterest {
  background: url(resources/sprite.svg) -106px -494px no-repeat;
  width: 33px;
  height: 32px;
}

.social-networks-youtube {
  background: url(resources/sprite.svg) -176px -494px no-repeat;
  width: 33px;
  height: 32px;
}

.additional-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 36px;
  margin-bottom: 90px;
}

.icon-group {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 9px;
}

.contact-icon {
  width: 30px;
  height: 31px;
  background: url(resources/sprite.svg) 0 -207px no-repeat;
  margin-bottom: 10px;
}

.about-us-icon {
  width: 30px;
  height: 31px;
  background: url(resources/sprite.svg) 0 -246px no-repeat;
  margin-bottom: 10px;
}

.sales-icon {
  width: 30px;
  height: 31px;
  background: url(resources/sprite.svg) 0 -285px no-repeat;
  margin-bottom: 10px;
}

.icon-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #ff5959;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  border-top: 1px solid #bbb8b6;
  border-bottom: 1px solid #bbb8b6;
  padding: 55px 0;
}

form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.email-title {
  font-size: 14px;
  color: #67635f;
  font-weight: 400;
}

label {
  font-size: 14px;
  color: #67635f;
  font-weight: 400;
}

.email-field {
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  margin-top: 20px;
}

.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.check-box {
  width: 24px;
  height: 24px;
  background: url(resources/sprite.svg) -313px -118px no-repeat;
  margin-right: 10px;
}

.subscription-box {
  width: 100%;
  height: 40px;
  margin: 0 auto;
  font-size: 18px;
  color: white;
  background: #ff5959;
  text-align: center;
  margin-top: 30px;
  border: none;
  font-size: 14px;
  padding: 0;
  font-weight: 700;
  letter-spacing: 0;
}

.copyright {
  width: 100%;
  background: #ff5959;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 50px;
  font-size: 14px;
  line-height: 50px;
}

@media (min-width: 600px) {
  .bottom-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100vw;
    height: 300px;
    padding: 20px;
    background-color: #f8f8f8;
  }
  .social-networks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 50px;
    margin-right: 100px;
  }
  .additional-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 400px;
    border-left: 1px solid #bbb8b6;
    border-right: 1px solid #bbb8b6;
    border-top: none;
    border-bottom: none;
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .additional-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0;
  }
  .icon-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30px;
  }
  .contact-icon {
    width: 30px;
    height: 31px;
    background: url(resources/sprite.svg) 0 -207px no-repeat;
    margin: 0;
  }
  .about-us-icon {
    width: 30px;
    height: 31px;
    background: url(resources/sprite.svg) 0 -246px no-repeat;
    margin: 0;
  }
  .sales-icon {
    width: 30px;
    height: 31px;
    background: url(resources/sprite.svg) 0 -285px no-repeat;
    margin: 0;
  }
  .icon-text {
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    color: #ff5959;
  }
}
/*# sourceMappingURL=styles.css.map */